@{
    ViewData["Title"] = "Home Page";
}

<div class="container mt-5">
    <h1 style="text-align: center; margin-top: 150px;">WELCOME TO THE STORE!</h1><br><br>
    <h3 style="text-align: center; margin-top: 200px; margin-bottom: 300px;">You can continue with the navbar :))</h3>
</div>
